.olMapViewport {
  overflow: visible !important; }

#map {
  max-height: 100%; }

.toolbar,
.splashscreen {
  display: none; }

body {
  width: auto;
  background: none;
  color: black; }

#search-toolbar.toolbar {
  background: #FFFFFF none repeat 0 0;
  position: absolute;
  margin: -110px 0 0 0;
  top: 100%;
  left: 10px;
  display: block; }
  #search-toolbar.toolbar #search-panel {
    display: none; }

/***************************
  emergency poster control
***************************/
#map.select-emergency-poster-point {
  cursor: url("img/emergency-marker.png") 17 51, default !important; }

.emergency-poster-preview-popup.splashscreen .widget {
  width: auto;
  padding: 0;
  margin: 0; }
  .emergency-poster-preview-popup.splashscreen .widget .header a.close {
    position: absolute;
    top: 4px;
    right: -12px; }
  .emergency-poster-preview-popup.splashscreen .widget .header h1.h {
    font-family: verdana, sans-serif;
    font-size: 30px;
    line-height: 34px;
    font-weight: normal; }
  .emergency-poster-preview-popup.splashscreen .widget .preview-container {
    overflow: hidden;
    height: auto; }
    .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview {
      color: black; }
      .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .header {
        padding: 0 0 0 0;
        background: none;
        margin-bottom: 25px; }
        .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .header h1 {
          font-size: 40px;
          line-height: 30px;
          font-weight: normal;
          padding: 20px 0 0 35px;
          color: #d47822; }
        .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .header h3 {
          font-size: 11pt;
          float: right;
          line-height: 30px;
          font-weight: normal;
          margin: 10px 48px 0 0; }
        .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .header img {
          width: 100%; }
      .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview p.semi-header {
        font-size: 14pt;
        font-weight: bold;
        padding: 25px 0 0 35px;
        margin-bottom: 0; }
      .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .location-details-wrapper {
        font-size: 14pt;
        line-height: 120%;
        margin-bottom: 5px;
        padding: 0 0 25px 35px; }
        .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .location-details-wrapper p {
          padding: 0; }
        .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .location-details-wrapper .location-details-header {
          padding: 15px 0 0 0; }
          .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .location-details-wrapper .location-details-header p {
            font-size: 14pt;
            line-height: 120%;
            padding: 0 0 0 20px;
            margin-bottom: 0; }
          .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .location-details-wrapper .location-details-header img {
            width: 17px;
            height: 17px;
            float: left;
            margin-top: 3px; }
        .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .location-details-wrapper .location-details-iframe-container {
          margin: 15px 0 15px 0; }
          .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .location-details-wrapper .location-details-iframe-container iframe {
            width: 100%;
            height: 400px;
            border: 1px solid grey;
            margin: 30px 0 15px 0; }
        .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview .location-details-wrapper .location-details-coords {
          padding: 0 20px 0 20px;
          font-size: 14pt; }
      .emergency-poster-preview-popup.splashscreen .widget .preview-container .preview img {
        width: 100%; }

/*# sourceMappingURL=print.css.map */
